@page
@model PoliticaPrivacidade
@{
    ViewData["Title"] = "Politica de Privacidade";
}

<h1 class="mb-4 my-4">@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <p>
            Bem-vindo aos nossos termos de privacidade. Aqui explicamos como lidamos com as informações coletadas de nossos usuários.
        </p>

        <h2>Informações coletadas</h2>
        <p>
            Nós coletamos informações fornecidas pelos usuários no momento do cadastro, como nome, endereço de e-mail, endereço físico, entre outros dados necessários para o serviço.
        </p>

        <h2>Uso das informações</h2>
        <p>
            As informações coletadas são usadas para fornecer, manter, proteger e melhorar nossos serviços, além de desenvolver novos serviços.
        </p>

        <h2>Compartilhamento de informações</h2>
        <p>
            Não compartilhamos informações pessoais com terceiros, exceto nos casos em que seja necessário para a prestação dos serviços solicitados pelo usuário.
        </p>

        <h2>Cookies</h2>
        <p>
            Nosso site utiliza cookies para melhorar a experiência do usuário. Ao utilizar nossos serviços, você concorda com o uso de cookies.
        </p>

        <h2>Alterações nos Termos de Privacidade</h2>
        <p>
            Reservamos o direito de alterar os termos de privacidade a qualquer momento. Recomendamos que os usuários verifiquem periodicamente esta página para se manterem informados.
        </p>
    </div>
</div>
